header {
    height: 70px;            /*header-height*/
    margin-bottom: 1em;
    background: #2e6bddc2;   /*設置背景顏色r*/
    font: bold 25px sans-serif;/*設置字體大小*/
    line-height: 70px;          
    color: white;            /*文字設置為白色r*/    
}
body{
    text-align: center;      /*文字居中顯示*/    

}
p{
    text-indent: 2em;         /*首行退後兩個*/
}

li{
    
}


table{
    margin: auto;
    text-align: center;
    height: 200px;
    width: 50%;
}


